<%= link_to "Trainers", trainers_path  %>
<div class="container d-flex">
  <div>
    <h2><%= @trainer.name %></h2>
    <p><%= @trainer.age %></p>
    <%= cl_image_tag  @trainer.photo.key, height: 250 %>
  </div>
  <div>


    <% @trainer.pokemons.each do |pokemon| %>

      <div class="card">
        <h2><%= link_to pokemon.name, pokemon_path(pokemon) %></h2>
        <p><%= pokemon.element_type %></p>
        <%= cl_image_tag pokemon.photo.key, width: 100 %>
      </div>
    <% end %>

  </div>

</div>
